.wrapper {overflow: hidden; width: 900px; padding: 10px 20px;  margin:20px auto; border: 1px solid #ccc}
.left {float: left; width: 48% ;}
.right {float: right; width: 48%}
.button{  margin-top: 20px;
    background-color: #eee);
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    color: #484848; }
.button:hover {background: #ccc}
.disclaimer {font-size: 14px;   background-color: #ECECEC;  padding: 10px;}
#feedback {padding: 10px;}
#instructions {background-color: #F2F2F2; border: 1px solid #D1D1D1;  padding: 5px 20px;
    margin-bottom: 20px;
}
#instructions ol {padding-left: 20px;}
#instructions li {padding: 4px 0px}
.see_other_instruction {color: red; text-decoration: none;}