body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.alert > ul {
    padding-left: 16px;
}

#sidebar-wrapper {
    background: #404040;
}

.sidebar-nav li {
    color: #aaa;
}

.sidebar-nav li a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a {
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
}

#menu-toggle {
    margin-bottom: 20px;
    background: url(../images/trigger.png) no-repeat left;
    border: 0;
    padding-left: 37px;
    font-size: 14px;
}

#menu-toggle:focus {
    outline: 0;
    box-shadow: none;
}

.panel-default > .panel-heading {
    font-size: 26px;
    overflow: hidden;
}

.table > tbody > tr > td:first-child {
    border-top: 0;
}

.form-horizontal .control-label {
    color: #5c5c5c;
    font-weight: normal;
}

.form-group+h3 {
    margin-top: 40px;
}

.select2-container {
    width: 100%!important;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 8px 16px;
    font-size: 15px;
}

label.error {
    font-weight: normal;
    font-size: 13px;
}

.login-wrap {
    float: none;
    margin: 0 auto;
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 7.25%;
    }
}

.label-default {
    background: #e3e3e3;
    width: 30px;
    line-height: 18px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    font-size: 11px;
    text-align: center;
    margin-left: 10px;
    color: rgba(64, 64, 64, 0.6);
    font-weight: normal;
    padding: 0;
    display: inline-block;
}

table td:not(:first-child) {
    font-size: 12px;
    color: #8b8b8b;
}

.annotation-wrap {
    padding: 20px 40px;
}

.annotation-list ul {
    padding-left: 0;
}

.ui-widget-content {
    padding-top: 40px!important;
}

.ui-menu .ui-menu-item {
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px!important;
}

.ui-state-focus, .ui-widget-content .ui-state-focus {
    background-color: #bbb!important;
    color: #fff!important;
    border: 0!important;
    border-bottom: 1px solid #ddd!important;
    font-weight: normal!important;
    margin: 0!important;
}

.annotation-list li > div {
    background: #ddd;
    border-radius: 50px;
    padding: 3px 6px;
    float: left;
    margin-right: 4px;
    font-size: 12px;
}

.annotation-list li > div:hover {
    text-decoration: none;
    background: #ccc;
}

.annotation-list li > div:empty,.annotation-list li > p:empty {
    display: none;
}
