option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_HOST
    value: xxxxx
  - option_name: DB_PORT
    value: 5432
  - option_name: DB_NAME
    value: xxxxx
  - option_name: DB_USER
    value: xxxxx
  - option_name: DB_PASS
    value: xxxxx
  - option_name: LOGENTRIES_TOKEN
    value: xxxxx
  - option_name: ELASTIC_SEARCH_URL
    value: xxxxx
  - option_name: CACHE_DRIVE
    value: file
  - option_name: SESSION_DRIVER
    value: file
  - option_name: AWS_KEY
    value: xxxxx
  - option_name: AWS_SECRET
    value: xxxxx
  - option_name: AWS_REGION
    value: us-east-1
  - option_name: AWS_BUCKET
    value: us-east-1
  - option_name: PDF_PROCESSOR_PATH
    value: xxxxx