commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: /var/app/ondeck
  03-optimize:
    command: "php composer.phar dump-autoload --optimize"
    cwd: /var/app/ondeck
