container_commands:
  00-removeStorage:
    command: rm -rf storage
    cwd: /var/app/ondeck
  01-createStorageIfAbsent:
    command: mkdir -p /var/app/shared_path/storage
  02-createStorageLogIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/logs
  03-createStorageAppIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/app
  04-createStorageFrameworkIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/framework
  040-createStorageFrameworkIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/framework/cache
  041-createStorageFrameworkIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/framework/sessions
  042-createStorageFrameworkIfAbsent:
    command: mkdir -p /var/app/shared_path/storage/framework/views
  05-createStorageSoftlink:
    command: ln -s /var/app/shared_path/storage/ storage
    cwd: /var/app/ondeck
  10-removeData:
    command: rm -rf public/data
    cwd: /var/app/ondeck
  11-createDataIfAbsent:
    command: mkdir -p /var/app/shared_path/data
  12-createDataSoftlink:
    command: ln -s /var/app/shared_path/data/ public/data
    cwd: /var/app/ondeck
  20-changeOwnershipJustInCase:
    command: chown -R webapp.webapp /var/app/shared_path
    cwd: /var/app/ondeck
