files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/alert_hipchat.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if ([ -f  /home/ec2-user/scripts/hipchat.sh  ]) then
          bash /home/ec2-user/scripts/hipchat.sh -t pre -u Username -p "environment-name"
      fi
      

  "/opt/elasticbeanstalk/hooks/appdeploy/post/send_notification.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if ([ -f  /home/ec2-user/scripts/hipchat.sh  ]) then
        bash /home/ec2-user/scripts/hipchat.sh -t post -u Username -p "environment-name"
      fi
