commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
 
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
 
container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/current"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/current"
  03-cleanup_composer:
    command: "rm -Rf composer.*"
    cwd: "/var/app/current"
  04-artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/current"
    leader_only: true
  05-artisan_seed:
    command: "php artisan db:seed --force"
  06-create_env_file:    
    files:
	  "/var/app/current/.env":
	    mode: "000444"
	    content: |
	      parameters:
	       APP_ENV=production
	       APP_DEBUG=true
	       APP_KEY=SomeRandomString

	       DB_HOST=db-ebproject.cdjnehg11z1g.us-west-2.rds.amazonaws.com
	       DB_DATABASE=ebproject
	       DB_USERNAME=aws_yipl
	       DB_PASSWORD=#yipl#123

	       CACHE_DRIVER=file
	       SESSION_DRIVER=file
	       QUEUE_DRIVER=sync

	       MAIL_DRIVER=smtp
	       MAIL_HOST=mailtrap.io
	       MAIL_PORT=2525
	       MAIL_USERNAME=null
	       MAIL_PASSWORD=null

	       AWS_KEY=AKIAJW4HXXHANHFTDDYQ
	       AWS_SECRET=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
	       AWS_REGION=us-east-1
	       AWS_BUCKET=testyipl
   07-generate-key:
   command: "php artisan key:generate"
   08-composer-dump-autoload
   command: "composer dump-autoload"	       

 



