commands:
  composer_update:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
 
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
 
container_commands:
  01-install_composer:
    command: "curl -s http://getcomposer.org/installer | php"
    cwd: "/var/app/current"
  02-install_dependencies:
    command: "php composer.phar install"
    cwd: "/var/app/current"
  03-cleanup_composer:
    command: "rm -Rf composer.*"
    cwd: "/var/app/current"
  04-artisan_migrate:
    command: "php artisan migrate --force"
    cwd: "/var/app/current"
    leader_only: true
  05-artisan_seed:
    command: "php artisan db:seed --force"