APP_ENV=${APP_ENV}
APP_DEBUG=${APP_DEBUG}
APP_KEY=${APP_KEY}
APP_DOMAIN=${APP_DOMAIN}

DB_HOST=${DB_HOST}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PORT=${DB_PORT}
DB_PASSWORD=${DB_PASSWORD}

LOG_TOKEN=${LOG_TOKEN}
ELASTIC_SEARCH_URL=${ELASTIC_SEARCH_URL}

CACHE_DRIVER=file
SESSION_DRIVER=file

MAIL_DRIVER=smtp
MAIL_HOST=${MAIL_HOST}
MAIL_PORT=${MAIL_PORT}
MAIL_USERNAME=${MAIL_USERNAME}
MAIL_PASSWORD=${MAIL_PASSWORD}
MAIL_ENCRYPTION=tls

NOTIFY_MAIL=${NOTIFY_MAIL}
MTURK_NOTIFY_OLC=${MTURK_NOTIFY_OLC}
MTURK_NOTIFY_RC=${MTURK_NOTIFY_RC}
NOTIFY_ERROR_EMAIL=${NOTIFY_ERROR_EMAIL}
FROM_EMAIL=${FROM_EMAIL}

MTURK_REGION=${MTURK_REGION}
MTURK_KEY=${MTURK_KEY}
MTURK_SECRET=${MTURK_SECRET}
MTURK_SANDBOX=${MTURK_SANDBOX}
MTURK_TASK_URL=${MTURK_TASK_URL}

AWS_KEY=${AWS_KEY}
AWS_SECRET=${AWS_SECRET}
AWS_BUCKET=${AWS_BUCKET}
AWS_REGION=${AWS_REGION}

PDF_PROCESSOR_PATH=${PDF_PROCESSOR_PATH}

SPARQL_USERNAME=${SPARQL_USERNAME}
SPARQL_PASSWORD=${SPARQL_PASSWORD}

OLC_LINK=${OLC_LINK}
RC_LINK=${RC_LINK}
